{% extends 'base.html' %}

{% block title %}Singleplayer - 40k Pairings Simulator{% endblock %}

{% block content %}
<h1>Singleplayer Mode</h1>

<button id="toggle-averages">Show Averages</button>

<table class="matrix-table">
    <thead>
        <tr>
            <th></th>
            {% for army in team_b %}
            <th class="army-cell">
                <img src="{{ url_for('static', filename=army.icon) }}" alt="{{ army.name }}" class="army-icon">
                <div class="army-name">{{ army.name }}</div>
            </th>
            {% endfor %}
            <th class="avg-cell">Avg</th>
        </tr>
    </thead>
    <tbody>
        {% for row in matrix %}
        <tr>
            <th class="army-cell">
                <img src="{{ url_for('static', filename=team_a[loop.index0].icon) }}" alt="{{ team_a[loop.index0].name }}" class="army-icon">
                <div class="army-name">{{ team_a[loop.index0].name }}</div>
            </th>
            {% for val in row %}
            <td class="{% if val <= 4 %}r{% elif val <= 8 %}o{% elif val <= 11 %}y{% elif val <= 15 %}lg{% else %}dg{% endif %}">{{ val }}</td>
            {% endfor %}
            <td class="avg-cell row-avg">{{ row_avgs[loop.index0] }}</td>
        </tr>
        {% endfor %}
        <tr class="avg-row">
            <th class="avg-cell">Avg</th>
            {% for val in col_avgs %}
            <td class="avg-cell col-avg">{{ val }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>


<div class="log-panel">
    <h2>Log</h2>
    <ul id="log"></ul>
</div>
{% endblock %}
